Makefile
Makefile.in
src/psindustrializer
psphymod/libpsphymod.a
compile
config.h
config.guess
.deps
.libs
*.o
*.la
*.lo
*~
config.h.in
configure
depcomp
install-sh
po/POTFILES
aclocal.m4
config.log
config.sub
config.cache
config.status
ltmain.sh
missing
mkinstalldirs
stamp-h1
libtool
autom4te.cache

